<!doctype html>
<html lang="pt">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Estoril Track Manager</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/sidebar.css">
  <link rel="stylesheet" href="/static/css/dashboard.css">
</head>

<body>

  <aside class="sidebar" aria-label="Barra lateral">
    <nav>
    </nav>
    <div class="sidebar-bottom">
      <button class="sidebar-btn settings" onclick="window.location.href='/settings'">
        <i class="fa-solid fa-gear"></i>
        <span>Definições</span>
      </button>
      <button class="sidebar-btn logout" onclick="window.location.href='/logout'">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Terminar Sessão</span>
      </button>
    </div>
  </aside>
  <section class="cards-section">
    <div class="welcome-banner">
      <h1>Bem-vindo, <span>{{ username }}</span></h1>
    </div>
    <div class="cards-container">
      <div class="card" onclick="window.location.href='/events'">
        <i class="fa-solid fa-calendar"></i>
        <h3>Eventos</h3>
        <p>Consulte os eventos passados</p>
      </div>
      <div class="card" onclick="window.location.href='/records'">
        <i class="fa-solid fa-ranking-star"></i>
        <h3>Recordes</h3>
        <p>Veja os recordes da pista</p>
      </div>
      <div class="card" onclick="window.location.href='/pilots'">
        <i class="fa-solid fa-users"></i>
        <h3>Pilotos</h3>
        <p>Conheça os pilotos</p>
      </div>
      <div class="card" onclick="window.location.href='/teams'">
        <i class="fa-solid fa-warehouse"></i>
        <h3>Equipas</h3>
        <p>Explore as equipas</p>
      </div>
    </div>
  </section>


</body>

</html>